@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Pets R Us</h1>
</div>

<div class="row">
    <div class="col text-center">
        <img src="~/Content/images/logo.jpg"/ class="border border-2 border-dark">
    </div>
</div>